* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.description {
    min-height: 50px;
    margin-top: 10px;
    word-wrap: break-word;
    max-height: 90px;


    background-color: transparent;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    border: 2px solid #f9fcff;
    border-radius: 10px;
    max-width: 400px;
    min-width: 380px;
    font-size: .9rem;
    word-wrap: break-word;
    /*this is used to align all link in same div without overflow */
    line-height: 1.25rem;
    margin-top: 18px;
    min-height: 80px;
    margin: 10px 30px;
    padding: 8px 12px;
    text-decoration: none;
}

.portfolio>ion-icon {
    margin-top: 2px;
}
p{
    margin-top: 5px;
}

.content:hover {
    border: 2px solid black;
    background-color: rgba(39, 39, 115, 0.282);
}

.content div {
    display: block;
}

.socialheading {
    margin-top: 24px;
    color: whitesmoke;
}

@media (min-width: 300px)and (max-width:450px) {

    .content {
        border: 2px solid #f9fcff;
        border-radius: 10px;
        max-width: 300px;
        min-width: 280px;
        font-size: .9rem;
        word-wrap: break-word;
        /*this is used to align all link in same div without overflow */
        line-height: 1.25rem;
        margin-top: 18px;
        min-height: 80px;

        padding: 8px 12px;
        text-decoration: none;
    }

}
